.wallet-btn {
	margin-top: 20px;
}
.main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.filter-main {
	display: grid;
	grid-template-columns: 74% 25%;
	gap: 10px;
}

@media only screen and (max-width: 600px) {
	.filter-main {
		display: block;
		gap: 10px;
	}
	.main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 45px;
	}
	.c {
		display: flex;
	}
}
