.OfferMain {
	color: white;
	font-size: 16px;
	padding-bottom: 20px;
	margin-top: 20px;
}
table {
	width: 80%;
}
th,
td {
	border: 1px solid black;
}
tr {
	font-family: VT323;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
th,
td {
	padding: 10px;
	font-family: VT323;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	box-sizing: border-box;
}
.action {
	border: 1px solid red;
	padding: 2px;
}
.OfferMain h1 {
	font-family: VT323;
	font-size: 49px;
	font-style: normal;
	font-weight: 400;
	line-height: 49px;
}
.CoinImg {
	display: flex;
	align-items: center;
	gap: 5px;
}
.CoinImg img {
	width: 13px;
	height: 11px;
}
.ownerImg {
	width: 21px;
	height: 21px;
	margin-right: 10px;
	margin-bottom: 5px;
}
@media only screen and (max-width: 500px) {
	table {
		width: 100%;
	}
	tr {
		font-size: 20px;
	}
	.CoinImg img {
		width: 10px;
		height: 10px;
	}
	.ownerImg {
		width: 10px;
		height: 10px;
		margin-right: 3px;
		margin-bottom: 5px;
	}
	td {
		padding: 6px;
		font-size: 10px;
		line-height: 0px;
	}
	.OfferMain h1 {
		font-size: 40px;
		line-height: 49px;
	}
}
